.env
.DS_Store
__pycache__/
*.pyc

.idea/
.gigaide/

logs/
target/
dbt_packages/
.dbt/.user.yml

data/landing/**
!data/landing/
!data/landing/example_customers/
!data/landing/example_customers/sample_customers.csv

pg_public_export_*/
